/* app.css */

body {
  margin: 15px;
  width: calc(100% - 15px);
  font-size: 16px;
}

button#search_artists {
  background: #c53526;
  color: white;
  padding: 7px;
  border-radius: 10px;
  margin: 15px 0 15px;
  border: 1px solid #999;
}

input {
  border: 1px solid #ccc;
  padding: 7px;
  border-radius: 3px;
  margin-right: 10px;
  width: calc(100% - 250px);
}

ul {
  padding: 0;
}

/* li {
  margin: 0;
  padding: 0;
  list-style: none;
  color: white;
} */

.track {
  color: #999;
  display: block;
}

#container {
  position: relative;
}

.cards-header {
  display: flex;
}

.cards {
  display: flex;
}

#playlist {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 100;
  height: 100%;
  overflow: auto;
  background: rgba(255, 255, 255, 0.9);
  padding: 12px;
  border-top: 3px solid #c53526;
}

#playlist .card {
  display: block;
  flex: 0 0 calc(20% - 24px);
  margin: 12px;
}

li.artist,
li.related-artist li.playlist {
  color: white;
  font-weight: bold;
  cursor: pointer;
}

li.artist,
li.related-artist {
  min-width: 250px;
  min-height: 250px;
  max-width: 250px;
  min-width: 250px;
}

li.playlist,
li.album {
  min-width: 150px;
  min-height: 150px;
}

.options li {
  margin-bottom: 7px;
}

iframe {
  margin-top: 15px;
}

.cards {
  display: flex;
  flex-flow: row wrap;
}

.related {
  justify-content: center;
  align-items: flex-end;
}

.card {
  border: 1px solid #999;
  margin-bottom: 15px;
  width: 300px;
  margin-right: 15px;
  display: flex;
  flex-basis: 20%;
  box-sizing: border-box;
  border: 1px solid #ccc;
  cursor: pointer;
  flex-direction: column;
}

.artist,
.playlist,
.related-artist,
.album {
  margin: 10px;
  padding: 15px;
  background-blend-mode: luminosity;
  background-color: rgba(69, 139, 202, 1);
  background-size: cover;
}

#related-artists {
  display: flex;
  flex-flow: row wrap;
}

a,
p {
  color: rgba(69, 139, 202, 0.8);
  background: white;
  padding: 1px;
  margin-top: 7px;
  background-blend-mode: luminosity;
}

li h4 {
  color: white;
  background: rgba(69, 139, 202, 0.8);
  padding: 3px;
  margin-bottom: 10px;
  background-blend-mode: luminosity;
  line-height: 1.4;
}

.related-artist {
  min-height: 100px;
  min-width: 150px;
  margin: 10px;
  padding: 15px;
}

.related li,
/*.cards div*/

 {
  width: 100px;
  margin: 7px;
}

.cards div {
  margin-left: 0;
}

.card img {
  width: 100px;
  height: 100px;
  overflow: hidden;
  margin: 7px;
}

.related img {
  margin: 0;
}

.card .info {
  /* padding: 15px;
width: 100%; */
  /* background-color: rgba(69, 139, 202, .75);
background-blend-mode: darken; */
}

.player_button {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.player_button button {
  margin-left: 15px;
}

#modal {
  background-color: rgba(0, 0, 0, 0.9);
  width: 100%;
  height: 100%;
  width: 100%;
  top: 0;
  position: absolute;
  right: 0;
  box-shadow: 5px -5px 100px 0px #070707;
}

.modal-dialog {
  position: absolute;
  left: 33%;
  top: 33%;
  background: white;
  border: 1px solid #ccc;
  width: 33%;
  padding-top: 10px;
}

.modal-header {
  padding: 5px;
  display: flex;
}

.modal-header h4 {
  flex: 1 0 auto;
}

#modal-container {
  /*display: flex;*/
}

#modal-container img {
  padding-right: 15px;
}

#modal-container p {
  margin-top: 0;
  padding-top: 0;
}
