@charset "UTF-8";
/* CSS Document */

/*Animations*/

.icon_holder .ng-hide {
  -webkit-transition: all linear 0.5s;
  -moz-transition: all linear 0.5s;
  -o-transition: all linear 0.5s;
  transition: all linear 0.5s;
  display: block !important;
}

.animate-show.ng-hide-add,
.animate-show.ng-hide-remove {
  -webkit-transition: all linear 0.5s;
  -moz-transition: all linear 0.5s;
  -o-transition: all linear 0.5s;
  transition: all linear 0.5s;
  display: block !important;
}

.animate-show.ng-hide-add.ng-hide-add-active,
.animate-show.ng-hide-remove {
  opacity: 0;
}

.animate-show.ng-hide-add,
.animate-show.ng-hide-remove.ng-hide-remove-active {
  opacity: 1;
}

.animate-show-fast.ng-hide-add,
.animate-show-fast.ng-hide-remove {
  -webkit-transition: all linear 0.25s;
  -moz-transition: all linear 0.25s;
  -o-transition: all linear 0.25s;
  transition: all linear 0.25s;
  display: block !important;
}

.animate-show-fast.ng-hide-add.ng-hide-add-active,
.animate-show-fast.ng-hide-remove {
  opacity: 0;
}

.animate-show-fast.ng-hide-add,
.animate-show-fast.ng-hide-remove.ng-hide-remove-active {
  opacity: 1;
}

.from-left.ng-enter,
.from-right.ng-enter,
.from-left.ng-leave,
.from-right.ng-leave,
.from-top.ng-enter,
.from-bottom.ng-enter,
.from-top.ng-leave,
.from-bottom.ng-leave,
.from-bottom-genre.ng-leave,
.from-bottom-genre.ng-enter {
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}

.from-left,
  {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.from-top {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 45%;
  background: #f3f3f3;
  z-index: 1000000001;
  opacity: 1
}

.from-bottom {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  z-index: 1000;
  opacity: 1;
  border-top: 3px solid #c53526;
  overflow-y: scroll;
  overflow-x: hidden;
}

.from-bottom-genre {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  z-index: 1000;
  opacity: 1;
  border-top: 3px solid #c53526;
  overflow-y: scroll;
}

.from-left.ng-enter {
  left: -100%;
}

.from-left.ng-enter-active {
  left: 0;
}

.from-left.ng-leave {
  left: 0;
}

.from-left.ng-leave-active {
  left: -100%;
}

.from-right {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.from-right.ng-enter {
  left: 100%;
}

.from-right.ng-enter-active {
  left: 0;
}

.from-right.ng-leave {
  left: 0;
}

.from-right.ng-leave-active {
  left: 100%;
}

.from-top.ng-enter {
  height: 0;
  opacity: 0;
}

.from-top.ng-enter-active {
  top: 0%;
  opacity: 1;
}

.from-top.ng-leave {
  top: 0;
  opacity: 1;
}

.from-top.ng-leave-active {
  top: -60%;
  opacity: 0;
}

.from-bottom.ng-enter,
.from-bottom-genre.ng-enter {
  height: 0;
  opacity: 0;
  bottom: -100%;
}

.from-bottom.ng-enter-active,
.from-bottom-genre.ng-enter-active {
  bottom: -100%;
  opacity: 0;
}

.from-bottom.ng-leave,
.from-bottom-genre.ng-leave {
  bottom: 0;
  opacity: 1;
}

.from-bottom.ng-leave-active,
.from-bottom-genre.ng-leave-active {
  bottom: -100%;
  opacity: 1;
  height: 0;
}

@font-face {
  font-family: 'MusicWhereYouAre';
  src: url('fonts/MusicWhereIAm.eot?w8796i');
  src: url('fonts/MusicWhereIAm.eot?#iefixw8796i') format('embedded-opentype'), url('/fonts/MusicWhereIAm.woff?w8796i') format('woff'), url('/fonts/MusicWhereIAm.ttf?w8796i') format('truetype'), url('/fonts/MusicWhereYouAre.svg?w8796i#MusicWhereYouAre') format('svg');
  font-weight: normal;
  font-style: normal;
}

[data-icon]:before {
  font-family: 'MusicWhereYouAre';
  content: attr(data-icon);
  speak: none;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#country_form,
.ng-scope.alert {
  width: 260px;
  background: white;
  border: 1px solid #cccccc;
  min-height: 50px;
  z-index: 100000000000;
  position: fixed;
  left: 30%;
  padding: 10px;
  top: 30%;
  border: 1px solid #C53526;
  box-shadow: 5px 5px 50px #cccccc;
  font-family: 'Arvo', Tahoma, Arial, sans-serif;
  font-weight: 400;
  font-size: 12px;
}

#count_form p {
  margin-top: 10px;
}

#country_form input,
.ng-scope.alert input {
  float: left;
  margin-right: 10px;
  background: #cccccc;
  background: #ececec;
  width: 180px;
  font-size: 11px
}

footer a,
.footer_item {
  float: left;
  margin-right: 5px;
}

#whereyouat {
  display: inline-block;
  vertical-align: middle;
  margin-top: 30px;
  width: 74%;
}

h5 {
  color: #c53526;
  font-size: 1.1em;
  margin: 0px;
  padding: 0px;
  line-height: 1em;
  margin-top: .7em;
}

.ui-view {
  height: 100%
}

.clear_border {
  clear: both;
  border-bottom: 1px dotted #ececec;
  margin-top: 5px;
}

.hider {
  display: none
}

.shower {
  display: block
}

section#contact {
  position: absolute;
  top: 10px;
  right: 5px;
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
}

section#contact ul {
  margin: 0px;
  padding: 0px;
  margin-bottom: 5px;
}

section#contact ul li {
  list-style-type: none;
  display: inline;
  margin-right: 7px;
}

section.attribute {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 8px;
  margin-top: 15px;
  margin-left: 15px;
  margin-right: 15px;
}

a {
  color: #c53526;
  cursor: pointer;
}

a:hover,
a:active {
  color: #979797;
  text-decoration: underline
}

body {
  font-family: 'PT Sans', Arial;
  font-size: 18px;
}

::-webkit-scrollbar {
  width: 7px;
  padding: 0px;
}

/* this targets the default scrollbar (compulsory) */

::-webkit-scrollbar:horizontal {
  height: 7px;
}

::-webkit-scrollbar-track {
  background-color: none;
}

/* the new scrollbar will have a flat appearance with the set background color */

::-webkit-scrollbar-thumb {
  background-color: #e6e6e6;
  opacity: .1;
}

/* this will style the thumb, ignoring the track */

::-webkit-scrollbar-thumb:hover {
  background-color: #e1e1e1;
  opacity: .5
}

h2,
h4,
#spot_holder .spot_icon,
#fav_holder .spot_icon {
  font-family: 'Bitter', Arial;
  color: #c53526;
  font-size: 1.23em;
  font-weight: normal;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-bottom: 0px;
}

h3 {
  font-family: PT Sans, san-serif;
}

h2 {
  font-size: 1.7em;
}

#spot_holder .spot_icon,
#fav_holder .spot_icon {
  margin-top: 20px;
}

#fav_holder .spot_icon {
  margin-top: 10px;
  margin-right: 10px;
}

#genre_holder ul {
  padding: 0;
  margin: 0;
}

#genre_holder ul>li {
  padding: 0;
  margin: 0;
  list-style: none;
  display: inline-block;
  vertical-align: top;
}

a {
  text-decoration: none;
}

html {
  height: 100%
}

body {
  height: 85%;
  margin: 0;
  padding: 0;
  width: 100%;
  /* overflow: hidden; */
}

header {
  padding: 20px;
  /*height: 50px;*/
  height: 35px;
  /*change back on Feb 15*/
  background-image: url(logo_headphone.png);
  background-repeat: no-repeat;
  margin-left: 15px;
  padding-bottom: 0px;
  margin-top: 17px;
  display: inline-block;
  vertical-align: top;
  width: 75px;
}

.angular-google-map {
  display: block;
  height: inherit
}

/* fix for Twitter Bootstrap handling of responsive images */

.angular-google-map img {
  max-width: inherit;
}

.angular-google-map {
  top: 80px;
}

#map-area {
  height: 95%;
  width: 100%;
}

#map-area div.map_container {
  height: 100%
}

.addheight {
  height: 90%;
  overflow: hidden;
  margin: 15px;
}

.noheight {
  height: 0%;
  overflow: hidden;
  margin: 0px;
}

.vis {
  opacity: 1
}

;
.no_vis {
  opacity: 0
}

#map-canvas,
#map {
  margin: 15px;
  margin-top: 10px;
  border: 1px dashed #ececec;
  height: 100%;
  z-index: 1;
}

.info {
  padding: 10px;
  padding-top: 0px;
  margin-top: 0px;
  font-size: 0.9em;
  overflow: hidden;
  font-family: 'PT Sans', san-serif;
}

.info sup {
  font-size: .3em;
  font-family: 'Arvo', Tahoma, Arial
}

ul#chooser {
  margin: 15px;
  padding: 0;
  margin-top: 0px;
  float: right;
  margin-right: 15px;
}

ul#chooser li.active {
  background-position: -50px 0px;
  height: 40px;
  width: 40px;
  background-color: #c53526;
  background-repeat: no-repeat;
  color: white;
  border: 1px dotted #ececec;
  float: left;
}

.inactive {
  height: 22px;
  width: 22px;
  background-color: white;
  background-repeat: no-repeat;
  color: white;
  padding: 5px;
  padding-top: 0;
  float: left;
  background-position: -0px 0px;
  cursor: pointer;
}

ul#chooser li,
#chooser li div.inactive {
  cursor: pointer;
  height: 40px;
  width: 40px;
  color: #c53526;
  background-repeat: no-repeat;
  border: 1px solid #ececec;
  padding: 5px;
  margin-bottom: 15px;
  font-size: 0.9em;
  list-style-type: none;
  float: left;
  background-position: -0 0px;
}

#whereto {
  margin: 15px;
}

#info-area {
  font-size: .8em;
  display: block;
  background: #f3f3f3;
  border-bottom: 2px solid #c53526;
  width: 97.5%;
  height: 100%;
  position: absolute;
  z-index: 10000000000;
  padding-left: 2.5%;
  margin-right: 2.5%;
  padding-top: 2.5%;
  padding-bottom: 7%;
  top: 0;
}

#info-area #biobox {
  display: flex;
}

#info-area #boxes {
  overflow-x: scroll;
  margin-top: 20px;
}

#info-area #videosbox {
  width: 1680px;
}

#info-area #photosbox {
  width: 2200px;
}

#info-area #videosbox div {
  float: left;
  margin-right: 15px;
}

#info-area #videosbox div iframe {
  width: 225px;
}

#info-area #newsbox div {
  width: 90%
}

#info-area #artist_holder {
  width: 97%;
  height: 98%;
  overflow-y: scroll
}

#info-area p {}

#info-area div.similar-headline {
  padding: 5px;
  position: relative;
  margin-top: -10px;
  background-color: #C53526;
}

#info-area .images_sim {
  float: left;
  max-width: 150px;
  overflow: hidden;
  margin-right: 15px;
  background-color: #C53526;
  color: white;
  margin-bottom: 15px;
  display: inline;
}

#info-area .images_sim img {
  height: 150px;
  cursor: pointer
}

#info-area div h6 a {
  color: white;
  background-color: #C53526
}

#info-area li {
  list-style: none;
  padding-bottom: 10px;
}

#info-area .intro-image {
  float: left;
  margin-right: 15px;
  max-width: 200px;
  overflow: hidden
}

#info-area p.intro img {
  border: 1px solid #ccc;
  max-height: 300px;
}

#info-area p.intro {
  float: right;
  margin: 15px;
  margin-top: 35px;
  padding-bottom: 10px;
}

#info-area .intro-image_ang {
  float: left;
  margin-right: 15px;
  max-width: 200px;
  overflow: hidden
}

#info-area p.intro_ang img {
  border: 1px solid #ccc;
  max-height: 300px;
  padding: 15px;
  max-width: 190px;
}

#info-area p.intro_ang {
  float: right;
  padding: 15px;
  margin: 0px;
  margin-top: 0px;
  padding-bottom: 10px;
  padding-top: 0px;
}

#info-area .spot_iframe {
  margin-left: 15px;
  clear: both;
  max-width: 300px;
  margin-right: 15px;
}

#info-area iframe.spot {
  width: 220px;
  height: 300px;
}

#info-area .spot_iframe div {
  width: 300px;
}

#info-area div .sim_holder,
#info-area .img_holder {
  float: left;
  margin: 7px;
  margin-top: 20px;
  min-width: 126px;
}

#info-area div .sim_holder {
  display: flex;
}

#info-area div.images img {
  height;
  126px;
  border: 1px solid #ccc;
  margin-right: 15px;
}

#info-area div.images:last-child {
  margin-right: 0;
}

#info-area div.images {
  max-width: 127px;
}

#info-area div.images .name {
  background: #c53526;
  padding: 3px;
  color: white;
}

#info-area div.images a.artistlink {
  color: white;
}

#info-area img.gallery {
  border: 1px solid #ccc;
  float: left;
  width: 125px;
  margin-right: 15px;
}

.spot_title {
  display: none;
}

div.label {
  border-bottom: 1px dotted #ccc;
  padding: 10px;
  margin-bottom: 2px;
}

div.button {
  cursor: pointer;
}

div.button:hover {
  background-color: #c53526;
  ;
  color: white;
}

#info-area h3 {
  margin: 0;
  padding: 0
}

.gm-style .gm-style-iw,
.gm-style .gm-style-iw a,
.gm-style .gm-style-iw span,
.gm-style .gm-style-iw label,
.gm-style .gm-style-iw div {
  font-weight: 300;
  font-family: 'PT Sans', san-serif;
}

.gm-style div,
.gm-style span,
.gm-style label {
  text-decoration: none;
}

.gm-style {
  overflow-x: hidden;
}

.gm-style-iw {
  max-height: 130px;
  overflow: scroll;
  font-size: 1.1em;
  overflow-x: hidden;
  min-width: 120px;
}

.gm-style-iw div {
  overflow: scroll;
  overflow-x: hidden;
}

.gm-style .gm-style-iw,
.gm-style .gm-style-iw a,
.gm-style .gm-style-iw span,
.gm-style .gm-style-iw label,
.gm-style .gm-style-iw div,
.leaflet-container {
  font-weight: 300;
  font-family: 'PT Sans', Arial;
}

.gm-style div,
.gm-style span,
.gm-style label {
  text-decoration: none;
}

.gm-style {
  overflow-x: hidden;
}

.gm-style-iw {
  max-height: 130px;
  overflow: scroll;
  font-size: 1.1em;
  overflow-x: hidden;
  min-width: 120px;
}

.gm-style-iw div {
  overflow: scroll;
  overflow-x: hidden;
}

.gm-style-iw p,
.leaflet-container p {
  margin-top: .5em;
  font-size: .8em
}

.gm-style-iw h5,
.leaflet-container h5 {
  font-size: .85em;
  line-height: 1.3em;
}

#search {
  font-size: 1em;
  margin-left: 15px;
  width: 75%;
}

input {
  font-size: 20px;
}

.search {
  font-size: 15px;
  float: left;
  background: #c53526;
  color: #fff;
  padding: 7px;
  padding-bottom: 0px;
  padding-left: 7px;
  padding-right: 7px;
  margin-left: -15px;
  cursor: pointer;
  border: 1px solid #ececec;
}

#findmusic,
#artistsearch,
#findmoresongs {
  font-size: 13px;
  padding: 4px;
  margin-bottom: 5px;
  border: 1px solid #ececec;
  width: 100%;
  height: 18px;
}

#findmoresongs {
  float: left;
  width: 250px;
}

#artistsearch {
  width: 50%;
  float: left;
  margin-bottom: 12px;
}

input[type=range]::-webkit-slider-runnable-track {
  height: 10px;
  background: #ddd;
  border: none;
  border-radius: 3px;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background-color: black;
  margin-top: -4px;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #C53526;
}

.EraInput,
#selector_genre input {
  font-size: 13px;
  margin-bottom: 5px;
  border: 1px dotted #333333;
  width: 290px;
  height: 20px;
  padding: 3px;
  margin-bottom: 10px;
  background: #ececed;
}

.dates input {
  width: 40%;
  font-size: 14px;
  padding: 3px;
  overflow: hidden;
  margin-right: 1%;
  font-family: 'PT Sans', san-serif;
  margin: 10px 0 10px 0;
}

#song_form input,
#selector_genre input.searchy #artistsearch input {
  width: 265px;
  float: left;
  padding: 3px;
  margin-bottom: 7px;
}

#selector_genre {
  margin-top: 5px;
}

#selector_genre input {
  width: 85%;
  float: left;
  margin-top: 1px;
  padding: 5px;
  line-height: 27px;
  background: white;
  border: 1px dotted #ccc;
  height: 16px;
  margin-bottom: 15px;
}

.years {
  font-size: 30px;
  width: 290px;
  margin: auto;
  color: #c53526;
  padding: 15px;
}

.year_slider {
  width: 290px;
}

.spacer {
  font-size: 15px;
  float: left;
  padding: 0px;
  margin-top: 2px;
  cursor: pointer;
  clear: both;
}

#genre_holder,
#spot_holder,
#fav_holder {
  position: absolute;
  top: 0;
  z-index: 1000;
  width: 100%;
  background-color: white;
  padding: 1%;
  padding-top: 0px;
  margin: 1%;
  margin-top: 0;
}

#spot_holder,
#fav_holder {
  height: 100%;
}

#genre_holder .button_container {}

#genre_holder,
#spot_holder .result_btn {
  font-size: .9em;
}

#spot_holder .result_btn {
  font-size: .55em
}

#spot_holder .on,
#genre_holder .on {
  background: #C53526;
  color: white
}

#spot_holder .off,
#genre_holder .off {
  background: white;
  color: #C53526
}

#genre_holder .tags_holder,
#spot_holder .tags_holder {
  max-height: 250px;
  overflow-y: scroll;
  width: 300px;
}

.instruction {
  font-size: .6em;
  margin-bottom: 10px;
  width: 280px;
  float: left;
}

#spot_holder p.info,
#fav_holder p.info #spot_holder p #fav_holder p {
  margin-left: 0px;
  font-size: .9em;
  margin-bottom: -10px;
}

#spot_holder .artist {
  font-size: .8em;
  font-family: 'PT Sans', san-serif;
}

#fav_holder .artist {
  font-size: .8em;
  font-family: 'PT Sans', san-serif;
}

#spot_holder a div,
#fav_holder a div {
  margin: 10px;
  margin-left: 0px;
  margin-right: 10px;
}

#spot_holder a div:hover,
#fav_holder a div:hover,
[class^="icon"]:hover,
#spot_holder a div:active,
#fav_holder a div:active,
[class^="icon"]:active {
  color: #FFD200
}

.info_button,
.spot_button {
  color: white;
  background: #c53526;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 1.05em;
  border: 1px dotted #ccc;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  float: none;
  cursor: pointer
}

.info_button {
  width: 100%;
  padding: 5px;
}

.spot_button {
  width: 300px;
  display: inline-block;
}

.button_on,
.button_off:hover {
  color: white;
  background: #c53526;
  padding: 3px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: .85em;
  margin-right: 10px;
  border: 1px dotted #ccc;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-hover: 5px;
  -o-border-radius: 5px;
  float: left;
  cursor: pointer
}

.more_button {
  width: 80px;
  color: white;
  background: #c53526;
  padding: 3px;
  margin-bottom: 3px;
  font-size: .6em;
  margin-right: 10px;
  border: 1px dotted #ccc;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-hover: 5px;
  -o-border-radius: 5px;
  float: left;
  cursor: pointer;
  margin-top: 6px;
  padding-top: 6px;
}

.share_button {
  float: left;
  margin-top: 10px;
  color: white;
  background: #c53526;
  padding: 3px;
  margin-bottom: 3px;
  font-size: .5em;
  margin-right: 5px;
  border: 1px dotted #ccc;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-hover: 5px;
  -o-border-radius: 5px;
  cursor: pointer
}

#spot_holder .share_button .button_txt,
#fav_holder .share_button .button_txt {
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 2px;
  margin-bottom: 2px;
}

.button_off {
  color: #c53526;
  background: white;
  padding: 3px;
  margin-bottom: 10px;
  margin-right: 5px;
  margin-top: 10px;
  font-size: .8em;
  border: 1px dotted #ccc;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-hover: 5px;
  -o-border-radius: 5px;
  float: left;
  cursor: pointer
}

.info_button:hover,
.spot_button:hover,
  {
  color: #c53526;
  background: #f3f3f3;
}

.info_button:active,
.spot_button:active,
.genre_button:active {
  color: #c53526;
  background: #f3f3f3;
}

.button_icon {
  float: left;
  margin-top: 2px;
  width: 20px;
  font-size: 20px;
  margin-right: 5px
}

.button_txt {
  float: left;
  margin-right;
  10px;
  font-family: 'PT Sans', sans-serif;
}

#spot_holder .button_on,
#spot_holder .button_off {
  font-size: .5em;
  margin-bottom: 10px;
}

#spot_holder .gray .close,
.red .close {
  position: absolute;
}

.gray:hover a {
  color: #FFD200
}

.gray a:hover {
  color: #FFD200
}

.gray,
.red:hover {
  background-color: #ffffff;
  color: #c53526;
  border: 1px dotted #CCCCCC;
  width: 18%;
  margin-bottom: 10px;
  padding-bottom: 5px;
  padding-top: 5px;
  display: inline-block;
  margin-right: 1.5%;
  vertical-align: top;
  position: relative;
}

.gray .spot_link,
.red .spot_link {
  font-size: 25px;
}

.gray .spot_link,
.red:hover .spot_link,
.gray .spot_link_fav,
.red:hover .spot_link_fav,
.gray .spot_link_spot,
.red:hover .spot_link_spot {
  text-decoration: none;
  overflow: hidden;
  color: #c53526;
  overflow: hidden;
  cursor: pointer;
}

.gray .spot_link:hover,
red.spot_link,
.gray .spot_link_fav:hover,
red.spot_link_fav,
.gray .spot_link_spot:hover,
red.spot_link_spot {
  color: #f0f0f0;
}

.spot_link,
.spot_link_fav,
.spot_link_spot {
  text-decoration: none;
  color: #ffffff;
  overflow: hidden;
  cursor: pointer;
  display: inline-block;
  vertical-align: top;
}

.spot_link:hover,
.spot_link_fav:hover {
  color: #ececec
}

.gm-style-iw,
.leaflet-popup-content {
  font-size: .75em;
  overflow-y: scroll;
}

.leaflet-popup-content-wrapper {
  max-height: 200px;
  overflow-y: auto;
  padding: 8px;
}

.gm-style-iw a div.spot_link,
.leaflet-popup a div.spot_link {
  float: left;
  font-size: 20px;
  text-decoration: none;
  width: 30px;
  overflow: hidden;
  color: #c53526;
}

.gm-style p.info {
  margin: 0px;
}

#spot_holder p.info,
#fav_holder p.info {
  margin-bottom: -10px;
}

.open_div {
  font-size: 28px;
  margin-top: 2px;
  font-weight: bold;
  margin-left: 4px;
  margin-right: 4px;
  display: inline-block;
  vertical-align: middle;
}

.open_div_spot {
  font-size: 32px;
  margin-left: 4px;
  margin-right: 4px;
  display: inline-block;
  vertical-align: middle;
}

.open_div_fav {
  font-size: 24px;
  margin-left: 4px margin-right:4px;
  display: inline-block;
  vertical-align: middle;
}

.close_div_info,
.close_link_info {
  display: block;
  width: 40px;
  margin-left: auto;
  margin-right: auto;
}

.close_link_info:hover {
  text-decoration: none;
}

.close_div_info_ang {
  width: 40px;
  position: absolute;
  top: 50%;
  transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  /* IE 9 */
  -webkit-transform: rotate(90deg);
  /* Opera, Chrome, and Safari */
}

.open_div,
.open_div_spot,
.open_div_fav,
.close_div_info,
.close_div_info_ang {
  font-weight: bold;
  color: #c53526;
  cursor: pointer
}

button.open_div {
  padding: 0;
  line-height: 1;
  background: none;
  margin-bottom: 2px;
  border: none;
}

.open_div:hover,
.open_div_spot:hover,
.open_div_fav:hover,
.close_div_info:hover,
.close_div_info_ang:hover {
  color: ##979797;
}

.menu {
  color: #c53526;
  position: absolute;
  width: 20px;
  margin-left: 10px;
  margin-top: 5px;
}

.menu_Marg {
  color: #c53526;
  position: absolute;
  float: left;
  width: 20px;
  margin-left: -10px;
  margin-top: 5px;
  z-index: 1500000000000000000000;
  display: none;
}

#icon_holder {
  position: absolute;
  z-index: 100001;
  padding: 10px;
  padding-bottom: 3px;
  bottom: 50px;
  right: 0;
  background: white;
  opacity: .85;
  border: 1px dotted #ccc;
  border-right: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-top-left-radius: 5px;
  -moz-border-bottom-left-radius: 5px;
  -o-border-top-left-radius: 5px;
  -o-border-bottom-left-radius: 5px;
  box-shadow: 2px 2px 25px #ececec;
}

#icon_holder:hover {
  opacity: 1;
}

.open_div:hover,
.open_div_spot:hover,
open_div_fav:hover {
  color: #c53526;
}

.navigation_holder {
  width: 100%;
  background-color: white;
  position: fixed;
  bottom: 0;
  z-index: 1000;
  padding-top: 10px;
  border-top: 1px solid #c53526;
  border-bottom: 1px solid #cccccc;
}

.navigation_holder.no-background {
  background: none;
  border: none;
  bottom: 18px;
}

.settings {
  float: left;
  width: 1%;
  padding-top: 15px;
  padding: 5px;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 1.2em;
  color: #999999;
}

nav {
  margin-right: 1%;
  margin-left: 2% %;
  text-transform: uppercase;
  /* background-color: #212122; */
  overflow-x: scroll;
}

.navigation .header {
  padding: 15px;
  background-color: #4e5053;
}

nav {
  cursor: pointer;
  list-style: none;
  padding: 0;
  margin: auto;
  padding-bottom: 1px;
  -webkit-transition: transform 0ms;
  transition: transform 0ms;
  transform-origin: 0px 0px 0px;
  transform: translate(0px, 0px) scale(1) translateZ(0px);
  overflow: hidden;
  text-align: center
}

nav ul {
  padding: 0;
  margin: auto;
  margin-bottom: 0px;
  overflow-y: hidden;
}

nav li {
  display: inline-block;
  list-style-type: none;
  margin-bottom: 0px;
  cursor: pointer;
}

.navigation li:active,
nav li:hover {
  color: #EBBD1E;
}

nav li div {
  padding-right: 8px;
  padding-left: 8px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin: auto;
}

nav li section span.item {}

.genre {
  font-size: 14px;
  float: left;
  color: #fff;
  margin-bottom: 5px;
  margin-right: 2px;
  cursor: pointer;
  width: 27px;
  height: 27px;
  background-repeat: no-repeat;
  margin-right: 15px;
  margin-left: 5px;
  font-size: 1.3em;
  margin-top: 7px;
}

.geomix {
  background-image: url(assets/genre_icons/Roadtrip_geomix_sm.png);
}

.musicwhereyouare {
  background-image: url(assets/genre_icons/music_where_you_are_sm.png);
}

.folowwme {
  background-image: url(assets/genre_icons/follow_me_music_sm.png);
}

.addtospot {
  background-image: url(assets/genre_icons/add_to_spot_sm.png);
}

[class~=avant_garde] {
  background-image: url(assets/genre_icons/avant_garde_rw_sm.png);
  width: 27px;
  height: 27px;
  margin: 5px;
  margin-top: 0px;
}

[class~=blues] {
  background-image: url(assets/genre_icons/blues_rw_sm.png);
  width: 27px;
  height: 27px;
  margin: 5px;
  margin-top: 0px;
}

[class~=classic_rock] {
  background-image: url(assets/genre_icons/classic_rock_rw_sm.png);
  width: 27px;
  height: 27px;
  margin: 5px;
  margin-top: 0px;
}

[class~=classical] {
  background-image: url(assets/genre_icons/classical_rw_sm.png);
  width: 27px;
  height: 27px;
  margin: 5px;
  margin-top: 0px;
}

[class~=country] {
  background-image: url(assets/genre_icons/country_rw_sm.png);
  width: 27px;
  height: 27px;
  margin: 5px;
  margin-top: 0px;
}

[class~=drama] {
  background-image: url(assets/genre_icons/drama_rw_sm.png);
  width: 27px;
  height: 27px;
  margin: 5px;
  margin-top: 0px;
}

[class~=electronic] {
  background-image: url(assets/genre_icons/electronica_rw_sm.png);
  width: 27px;
  height: 27px;
  margin: 5px;
  margin-top: 0px;
}

[class~=folk] {
  background-image: url(assets/genre_icons/folk_rw_sm.png);
  width: 27px;
  height: 27px;
  margin: 5px;
  margin-top: 0px;
}

[class~=hip_hop] {
  background-image: url(assets/genre_icons/hip-hop_rw_sm.png);
  width: 27px;
  height: 27px;
  margin: 5px;
  margin-top: 0px;
}

[class~=drama] {
  background-image: url(assets/genre_icons/drama_rw_sm.png);
  width: 27px;
  height: 27px;
  margin: 5px;
  margin-top: 0px;
}

[class~=holiday] {
  background-image: url(assets/genre_icons/holiday_rw_sm.png);
  width: 27px;
  height: 27px;
  margin: 5px;
  margin-top: 0px;
}

[class~=indie] {
  background-image: url(assets/genre_icons/indie_rw_sm.png);
  width: 27px;
  height: 27px;
  margin: 5px;
  margin-top: 0px;
}

[class~=jazz] {
  background-image: url(assets/genre_icons/jazz_rw_sm.png);
  width: 27px;
  height: 27px;
  margin: 5px;
  margin-top: 0px;
}

[class~=kid] {
  background-image: url(assets/genre_icons/kids_rw_sm.png);
  width: 27px;
  height: 27px;
  margin: 5px;
  margin-top: 0px;
}

[class~=latin] {
  background-image: url(assets/genre_icons/latin_rw_sm.png);
  width: 27px;
  height: 27px;
  margin: 5px;
  margin-top: 0px;
}

[class~=comedy] {
  background-image: url(assets/genre_icons/mic_rw_sm.png);
  width: 27px;
  height: 27px;
  margin: 5px;
  margin-top: 0px;
}

[class~=new_age] {
  background-image: url(assets/genre_icons/new_age_rw_sm.png);
  width: 27px;
  height: 27px;
  margin: 5px;
  margin-top: 0px;
}

[class~=pop] {
  background-image: url(assets/genre_icons/pop_rw_sm.png);
  width: 27px;
  height: 27px;
  margin: 5px;
  margin-top: 0px;
}

[class~=punk] {
  background-image: url(assets/genre_icons/punk_rw_sm.png);
  width: 27px;
  height: 27px;
  margin: 5px;
  margin-top: 0px;
}

[class~=motown] {
  background-image: url(assets/genre_icons/r&b_rw_sm.png);
  width: 27px;
  height: 27px;
  margin: 5px;
  margin-top: 0px;
}

[class~=rock] {
  background-image: url(assets/genre_icons/rock_rw_sm.png);
  width: 27px;
  height: 27px;
  margin: 5px;
  margin-top: 0px;
}

[class~=soft_rock] {
  background-image: url(assets/genre_icons/soft_rock_rw_sm.png);
  width: 27px;
  height: 27px;
  margin: 5px;
  margin-top: 0px;
}

[class~=world] {
  background-image: url(assets/genre_icons/world_rw_sm.png);
  width: 27px;
  height: 27px;
  margin: 5px;
  margin-top: 0px;
}

#spot_holder .cards {
  margin-top: 180px;
}

#spot_holder .iframehider {
  margin-top: 120px;
}

#spot_holder .about_section {
  margin-top: 250px;
}

#spot_holder .about_section.iframehider {
  margin-top: 148px;
}

.fixed {
  padding-top: 5px;
  position: fixed;
  background: white;
  width: 100%;
  z-index: 1000;
}

#fav_holder .cards {
  margin-top: 170px;
}

#fav_holder .iframehider {
  margin-top: 85px;
}

h4,
#spot_holder .spot_icon {
  color: #c53526;
  margin-bottom: 0px;
  padding-bottom: 0px;
  font-size: 1.35em;
  font-weight: bold;
  margin-top: 10px;
}

#spot_holder .spot_icon {
  margin-top: 20px;
}

#search {
  width: 80%;
  margin-bottom: 7px;
}

#findmusic {
  font-size: 13px;
  padding: 5px;
}

.search {
  font-size: 14px;
  float: left;
  background: #c53526;
  color: #fff;
  padding: 5px;
  padding-left: 7px;
  padding-right: 7px;
  padding-top: 8px;
  padding-bottom: 2px;
  cursor: pointer;
  border: 1px solid #ececec;
}

#spot_holder .search {
  padding-top: 6px;
  padding-bottom: 0;
}

.spacer {
  font-size: 0px;
  float: left;
  padding: 0px;
  margin-top: 0px;
  cursor: pointer;
  clear: both;
  margin-left: 15px;
  margin-bottom: 0px;
}

}

#artist_loader h4 {
  position: absolute;
  right: 0px;
  font-size: 13px;
  top: 0px;
  background: #C53526;
  color: white;
  padding: 5px;
  padding-right: 10px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-top-left-radius: 5px;
  -moz-border-bottom-left-radius: 5px;
  -o-border-top-left-radius: 5px;
  -o-border-bottom-left-radius: 5px;
}

.close,
.closey {
  font-size: 12px;
  padding: 5px;
  right: 2%;
  opacity: 1;
  cursor: pointer;
  display: none;
  z-index: 100;
  position: absolute;
}

#spot_holder .close,
#spot_holder .closey,
#fav_holder .close,
#fav_holder .close {
  position: absolute;
  right: 1%
}

#spot_holder .share_box .closey,
#fav_holder .share_box .closey {
  right: 1%;
  position: absolute;
}

.closey {
  display: block;
  color: #c53526;
}

.gray:hover .close {
  display: block
}

.red:hover .close {
  display: block
}

.on {
  background-position: -27px 0px;
  background-color: #c53526;
  color: white;
}

.off {
  background-position: 0px 0px;
  background-color: #f3f3f3;
  /*border: 1px solid #ececec;*/
}

div.checkbox {
  margin-bottom: 15px;
  margin-right: 10px;
  padding: 3px;
  border: 2px solid #c53526;
  border-radius: 10px;
  padding-bottom: 0px;
  background: white;
}

div.on {
  background: #c53526;
  color: white
}

label {
  cursor: pointer;
  padding: 5px;
  padding-right: 9px;
  color: #black;
}

div.checkbox label div {
  display: inline-block;
  vertical-align: top;
}

input[type="checkbox"] {
  display: none;
}

input[class="check"]+label div {
  display: inline-block;
  width: 25px;
  G height: 20px;
  vertical-align: middle;
  cursor: pointer;
  text-transform: none;
}

input[type="checkbox"]:checked+label div,
input[type="checkbox"]:checked+label div.isSelected input[type="checkbox"]+label div:hover {
  background-position: -27px top;
  width: 27px;
  height: 27px;
  margin-top: 0px;
}

div.checkbox label div.genre_text {
  margin-top: 3px;
  width: auto;
  height: auto;
  color: #C53526;
}

#geolocation_alert {
  overflow-y: scroll
}

.sharer {
  width: 97%;
  height: 33px;
  position: fixed;
  background: white;
  border: 1px dotted #ccc;
  border-top: 1px solid #C53526;
  opacity: .95;
  bottom: 65px;
  left: 0%;
  padding: 10px 1.5% 7px 1.5%;
}

.result_btn {
  background: #ffffff;
  float: left;
  padding: 7px;
  padding-top: 3px;
  padding-bottom: 3px;
  margin-right: 5px;
  margin-bottom: 12px;
  color: #C53526;
  border: 1px dotted #ccc;
  cursor: pointer
}

.result_btn sup {
  font-family: Arial, Helvetica, Tahoma, san-serif;
  font-size: 13px;
  padding: 3px;
  font-weight: bold
}

.clear {
  clear: both
}

.share {
  bottom: 10px;
  font-size: 1.25em;
  margin-top: 0px;
  z-index: 999
}

.share_box {
  border: 1px dotted #ccc;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  padding: 20px;
  background: white;
  z-index: 100000;
  position: absolute;
  bottom: 50px;
  width: 255px;
  left: 20px;
  box-shadow: 5px 5px 20 #ececec;
}

.share_box div.social_media {
  float: left;
}

div.sharer_icon {
  margin: 0px;
  color: #C53526;
  cursor: pointer;
  position: absolute;
  right: 3%;
  top: 15px;
}

.share_box div.state_on {
  color: #C53526;
  border: none;
  font-size: 29px;
  background: white;
  margin-bottom: 7px;
  margin-right: 12px;
  border: 1px dotted #ccc;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
}

.share_box div.state_off {
  cursor: pointer;
  color: white;
  font-size: 29px;
  background: #C53526;
  border: 1px dotted #ccc;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  margin-bottom: 7px;
  margin-right: 12px;
}

.share_box form textarea {
  float: left;
  width: 205px;
  font-size: 11px;
}

.share_box .closey {
  margin-left: 86%
}

.viewall {
  font-family: 'Arvo', Tahoma, Arial, sans-serif;
  font-size: 9px;
  position: absolute;
  bottom: 7px;
}

.event_image {
  float: left;
  padding: 10px;
}

.event_description {
  float: left;
  width: 95%;
  font-family: 'Arvo', Tahoma, Arial, sans-serif;
  font-size: 1em;
  margin-top: 10px;
  margin-bottom: 0px;
  padding: bottom:10px;
  padding-right: 10px;
}

p.event_description {
  margin-top: 0;
  margin-left: 10px;
}

.event_description a:hover {
  color: #FFD200;
}

/*For Testing*/

.jasmine_html-reporter {
  background-color: #eee;
  padding: 5px;
  margin: -8px;
  font-size: 11px;
  font-family: Monaco, "Lucida Console", monospace;
  line-height: 14px;
  color: #333;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100000;
  overflow: scroll;
}

.hint {
  font-family: 'Arvo', Tahoma, Arial, sans-serif;
  font-weight: 400;
  font-style: italic;
  position: absolute;
  ;
  width: 290px;
  background: white;
  border: 1px solid #ccc;
  padding: 7px;
  font-size: 12px;
  line-height: 165%;
  margin-top: 30px;
  margin-left: 10px;
  z-index: 7000000000;
  max-height: 300px;
  overflow-y: scroll;
}

.hint a {
  color: #333333
}

.hint a:hover {
  color: #C53526
}

.hint .closer {
  color: #c53526;
  position: absolute;
  cursor: pointer;
  font-family: Tahoma, Arial, sans-serif;
  font-style: normal;
  margin-left: 275px;
}

@media screen and (min-height: 1801px) {
  body {
    height: 93%
  }
  #map-area {
    height: 100%;
    width: 100%;
  }
}

@media screen and (min-height: 1601px) and (max-height: 1800px) {
  body {
    height: 93%
  }
  #map-area {
    height: 100%;
    width: 100%;
  }
}

@media screen and (min-height: 1401px) and (max-height: 1600px) {
  body {
    height: 92%
  }
  #map-area {
    height: 100%;
    width: 100%;
  }
}

@media screen and (min-height: 1200px) and (max-height: 1400px) {
  body {
    height: 90%
  }
  #map-area {
    height: 100%;
    width: 100%;
  }
}

@media screen and (min-height: 1001px) and (max-height: 1199px) {
  #map-area {
    height: 100%;
    width: 100%;
  }
  #icon_holder {
    bottom: 7%
  }
  .from-top {
    height: 50%
  }
}

@media screen and (min-height: 900px) and (max-height: 1000px) {
  #map-area {
    height: 100%;
    width: 100%;
  }
  #icon_holder {
    bottom: 9%
  }
  .from-top {
    height: 50%
  }
}

@media screen and (min-height: 800px) and (max-height: 899px) {
  #map-area {
    height: 100% %;
    width: 100%;
  }
  #icon_holder {
    bottom: 7% %
  }
  .from-top {
    height: 35%
  }
}

@media screen and (min-height: 700px) and (max-height: 799px) {
  #map-area {
    height: 95%;
    width: 100%;
  }
  #icon_holder {
    bottom: 9.5%
  }
  .from-top {
    height: 39%
  }
  #map {
    margin-top: 5px
  }
}

@media screen and (min-height: 600px) and (max-height: 699px) {
  #map-area {
    height: 90.5%;
    width: 100%;
  }
  #icon_holder {
    bottom: 11.25%;
  }
  .from-top {
    height: 41%
  }
  #whereyouat {
    width: 75%
  }
  #search {
    width: 80%
  }
  #map {
    margin-top: 5px;
  }
}

@media screen and (min-height: 500px) and (max-height: 599px) {
  #map-area {
    height: 85%;
    width: 100%;
  }
  #icon_holder {
    bottom: 15%
  }
  .from-top {
    height: 42%
  }
  #map {
    margin-top: 5px;
  }
}

@media screen and (min-height: 400px) and (max-height: 499px) {
  #map-area {
    height: 72%;
    width: 100%;
  }
  #icon_holder {
    bottom: 20%
  }
  .from-top {
    height: 61%
  }
  #map {
    margin-top: 5px;
  }
}

@media screen and (min-height: 351px) and (max-height: 399px) {
  #map-area {
    height: 73%;
    width: 100%;
  }
  #icon_holder {
    bottom: 20%
  }
  .from-top {
    height: 89%
  }
  #map {
    margin-top: 5px;
  }
}

@media screen and (min-height: 301px) and (max-height: 350px) {
  #map-area {
    height: 68%;
    width: 100%;
  }
  #icon_holder {
    bottom: 21%
  }
  .from-top {
    height: 89%
  }
  #map {
    margin-top: 5px;
  }
}

@media screen and (max-height: 299px) {
  #map-area {
    height: 28%;
    width: 100%;
  }
  #icon_holder {
    bottom: 21%
  }
  .from-top {
    height: 90%
  }
  #map {
    margin-top: 5px;
  }
  #artist_info ul {
    font-family: 'Bitter', san-serif;
    margin: 0;
    padding: 0;
    margin-top: 5px;
    margin-bottom: 15px;
    font: Arial, Helvetica, sans-serif
  }
  #artist_info ul li,
  #artist_info ul li .off {
    display: inline;
    padding: 10px;
    border-right: 1px solid #c53526;
    padding-bottom: 6px;
    padding-top: 6px;
  }
  #artist_info ul li.on,
  #artist_info ul li:hover {
    background-color: #c53526;
    border: 1px solid #ffffff;
    color: #ffffff;
  }
  #artist_info ul li a:hover,
  #artist_info ul li:hover a,
  #artist_info ul li.on a {
    color: white;
  }
  #artist_loader {
    background: url(/MusicWhereYouAre/loading.gif) width:100px;
  }
}

@media screen and (min-width: 1025px) and (max-width: 1280px) {
  .gray,
  .red:hover {
    width: 23%;
  }
}

@media screen and (min-width: 801px) and (max-width: 1024px) {
  #artist_info ul {
    font-size: 1em
  }
  #info-area .intro-image {
    float: left;
    margin-right: 15px;
    max-width: 200px;
    overflow: hidden
  }
  #info-area p.intro img {
    border: 1px solid #ccc;
    height: 200px;
  }
  #info-area p.intro {
    float: right;
    padding: 15px;
    margin: 15px;
    margin-top: 35px;
    border: 1px solid #ccc;
    padding-bottom: 10px;
  }
  #info-area .intro-image_ang {
    float: left;
    margin-right: 15px;
    max-width: 300px;
    overflow: hidden
  }
  #info-area p.intro_ang img {
    border: 1px solid #ccc;
    max-height: 200px;
    padding: 15px;
    max-width: 200px;
  }
  #info-area p.intro_ang {
    float: right;
    padding: 15px;
    margin: 15px;
    margin-top: 0px;
    padding-bottom: 10px;
    width: 220px
  }
  #info-area .spot_iframe {
    margin-left: 15px;
    clear: both;
    max-width: 300px;
    margin-right: 15px;
  }
  #info-area iframe.spot {
    width: 220px;
    height: 300px;
  }
  #info-area .spot_iframe div {
    width: 300px;
  }
  #info-area #videosbox div iframe {
    width: 200px;
  }
  #search {
    width: 75%;
    margin-bottom: 0px;
  }
  .gray,
  .red:hover {
    width: 31%;
  }
  #country_form,
  .ng-scope.alert {
    left: 25%;
    top: 30%;
  }
  #info-area #artist_holder {
    height: 93%
  }
}

@media screen and (min-width: 641px) and (max-width: 799px) {
  #info-area #videosbox div iframe {
    width: 200px;
  }
  #artist_info ul {
    font-size: .95em
  }
  #info-area .intro-image {
    float: left;
    margin-right: 15px;
    max-width: 200px;
    height: auto;
    overflow: hidden
  }
  #info-area p.intro img {
    border: 1px solid #ccc;
    height: 150px;
  }
  #info-area p.intro {
    float: right;
    padding: 13px;
    margin: 13px;
    margin-top: 35px;
    border: 1px solid #ccc;
    padding-bottom: 8px;
  }
  #info-area #artist_holder {
    width: 97%;
    overflow-y: scroll
  }
  #info-area img.gallery {
    border: 1px solid #ccc;
    height: 120px;
  }
  #search {
    width: 75% %;
    margin-bottom: 0px;
  }
  .event_description {
    width: 75%
  }
  #country_form,
  .ng-scope.alert {
    left: 25%;
    top: 20%;
  }
  #info-area #artist_holder {
    height: 90%
  }
  .gray,
  .red:hover {
    width: 47%;
  }
}

@media screen and (min-width: 481px) and (max-width: 667px) {
  #artist_info ul {
    font-size: .9em;
    font-weight: bold;
    width: 135px;
    float: left;
    overflow: hidden;
    margin-top: 5px;
    margin-right: 15px;
    border-right: 1px dotted #ccc;
  }
  #artist_info ul li,
  #artist_info ul li .off {
    display: block;
    border: none;
    margin-right: 5px;
  }
  #info-area {
    padding-top: 2.5%;
    padding-bottom: 10%
  }
  #info-area .intro-image {
    float: left;
    margin-right: 15px;
    max-width: 300px;
    overflow: hidden
  }
  #info-area p.intro img {
    border: 1px solid #ccc;
    height: 150px;
  }
  #info-area .spot {
    display: none
  }
  .hint {
    margin-top: 3;
    margin-left: 10px;
    z-index: 7000000000;
    max-height: 300px;
    overflow-y: scroll
  }
  #search {
    width: 80%;
    margin-bottom: 0px;
  }
  .gray,
  .red:hover {
    width: 95%;
  }
  #info-area #artist_holder {
    height: 93%
  }
  #info-area p.intro {
    float: right;
    padding: 10px;
    margin: 10px;
    margin-top: 35px;
    border: 1px solid #ccc;
    padding-bottom: 5px;
  }
  #info-area #artist_holder {
    width: 97%;
    overflow-y: scroll
  }
  #info-area img.gallery {
    border: 1px solid #ccc;
  }
  #info-area p.intro_ang img {
    width: 100;
    max-width: 100px;
  }
  #info-area .images_sim img {
    height: 90px;
    cursor: pointer
  }
  #info-area .images_sim {
    max-width: 90px;
  }
  #info-area #videosbox div iframe {
    width: 140px;
  }
  #info-area div .sim_holder,
  #info-area .img_holder {
    margin: 7px;
    min-width: 100px;
  }
  #info-area div.images img {
    width: 126px;
    height;
    126px;
    border: 1px solid #ccc;
  }
  #info-area div.images {
    max-width: 127px;
  }
  #info-area div.images .name {
    background: #c53526;
    margin-top: -7px;
    padding: 3px;
  }
  #info-area div.images a.artistlink {
    color: white;
    font-size: .9em;
  }
  #info-area .button_icon {
    float: none;
    font-size: 30px;
    width: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
  }
  #info-area .button_txt {
    display: none
  }
  #spot_holder .cards,
  #fav_holder .cards {
    margin-top: 100px;
  }
  #spot_holder .cards {
    margin-top: 125px;
  }
  #spot_holder .about_section {
    margin-top: 160px;
  }
  #fav_holder .cards {
    margin-top: 85px;
  }
  #search {
    width: 75%;
    margin-bottom: 0px;
  }
  #country_form,
  .ng-scope.alert {
    left: 25%;
    top: 20%;
  }
}

/*Look at TAS for how to reset the boxes so the items are vertical;*/

@media screen and (max-width: 480px) {
  .gray,
  .red:hover {
    width: 96%
  }
  header {
    width: 0px;
    padding: 21px;
    height: 10px;
  }
  #info-area {
    padding-top: 2.5%;
    padding-bottom: 14%
  }
  header {
    float: left;
    margin-left: 15px;
  }
  .menu {
    margin-top: 0px;
  }
  #info-area .intro-image_ang {
    float: none;
    max-width: 300px;
    overflow: hidden
  }
  #info-area p.intro_ang img {
    border: 1px solid #ccc;
    max-height: 300px;
    padding: 7px;
    max-width: 300px;
  }
  #info-area p.intro_ang {
    float: right;
    padding: 0px;
    margin: 15px;
    margin-top: 0px;
    padding-bottom: 10px;
  }
  #info-area .spot_iframe {
    margin-left: 15px;
    clear: both;
    max-width: 300px;
    margin-right: 15px;
  }
  #info-area iframe.spot {
    width: 80px;
    height: 80px;
  }
  #info-area .spot_iframe div {
    width: 300px;
  }
  #artist_info ul {
    font-size: .75em;
    font-weight: bold;
    width: 80px;
    float: left;
    overflow: hidden;
    margin: 5px;
    margin-right: 10px;
    border-right: 1px dotted #ccc;
    margin-top: 0px;
  }
  #artist_info ul li,
  #artist_info ul li .off {
    display: block;
    border: none;
    margin-right: 5px;
    padding-top: 8px;
    padding-bottom: 8px;
  }
  #info-area .intro-image {
    float: none;
    margin-right: 15px;
    width: 150px;
    height: auto;
    margin: auto;
    overflow: hidden
  }
  #info-area p.intro img {
    border: 1px solid #ccc;
    height: auto;
    width: 297px;
  }
  #info-area p.intro {
    float: none;
    padding: 10px;
    margin: auto;
    margin-top: 35px;
    border: 1px solid #ccc;
    padding-bottom: 5px;
    max-height: 250px;
    width: 300px;
    overflow: hidden;
  }
  #info-area #artist_holder {
    width: 97%;
    overflow-y: scroll
  }
  #info-area img.gallery {
    border: 1px solid #ccc;
    ;
  }
  #info-area p.intro_ang img {
    width: 125px;
    max-width: 125pxpx;
  }
  .spot_title {
    display: none
  }
  #info-area .images_sim img {
    height: ;
    cursor: pointer
  }
  #info-area .images_sim {
    max-width: 90px;
  }
  #info-area #videosbox div iframe {
    width: 125px;
  }
  #info-area div .sim_holder,
  #info-area .img_holder margin: 7px;
  min-width: 85px;
}

#info-area div .sim_holder {}

#info-area div.images img {
  border: 1px solid #ccc;
}

#info-area div.images a.artistlink {
  color: white;
  font-size: .9em;
}

#info-area .button_icon {
  float: none;
  font-size: 30px;
  width: 30px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
}

#info-area .button_txt {
  display: none
}

#search {
  width: 80%;
  margin-bottom: 0px;
}

#country_form,
.ng-scope.alert {
  left: 15px;
  top: 75px
}

#artistsearch {
  width: 35%
}

#info-area #artist_holder {
  height: 87%
}

#spot_holder .about_section {
  margin-top: 160px;
}

}

@media screen and (min-height: 641px) and (max-height: 800px) {
  .info {
    /*color:black*/
    padding: 5px;
    font-size: 1.0em;
    overflow: hidden;
  }
  #findmusic {
    font-size: 13px;
    padding: 5px;
  }
  input {
    font-size: 20px;
  }
  .search {
    float: left;
    background: #c53526;
    color: #fff;
    padding: 5px;
    padding-bottom: 2px;
    cursor: pointer;
    border: 1px solid #ececec;
    padding-top: 7px;
  }
  .spacer {
    font-size: 15px;
    float: left;
    padding: 0px;
    margin-top: 2px;
    cursor: pointer;
  }
}

@media screen and (min-height: 360px) and (max-height: 640px) {
  #findmusic {
    font-size: 13px;
    padding: 6px;
  }
  input {
    font-size: 20px;
  }
  #search {
    width: 77%;
    margin-bottom: 0px;
    min-height: 34px;
  }
  .search {
    font-size: 15px;
    float: left;
    background: #c53526;
    color: #fff;
    padding: 8px;
    padding-top: 9px;
    padding-bottom: 1px;
    cursor: pointer;
    border: 1px solid #ececec;
  }
  .spacer {
    font-size: 15px;
    float: left;
    padding: 0px;
    margin-top: 2px;
    cursor: pointer;
  }
}

@media screen and (max-height: 359px) {
  #info-area #artist_holder {
    width: 97%;
    height: 90%;
    overflow-y: scroll
  }
}

/* New Styles */

.popup-song-name,
.popup-artist-name {
  font-size: 1.4em;
}